*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#html {
    text-overflow: ellipsis;
    overflow-y: visible;
    word-wrap: break-word;
    word-break: break-word;
    width: 50vw;
    height: 100vh;
}

#div1 {
    position: fixed;
    top: 50px;
    right: 50px;
}

#div1::before,
#div1::after {
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
}

@media (max-width: 500px) {
    #html {
        /* 上一半 */
        width: 100vw;
        height: 40vh;
        overflow: auto;
        /* border: 1px solid red; */
    }
    #div1Wrapper {
        /* 下一半 */
        width: 100vw;
        height: 60vh;
        /* border: 1px solid red; */
    }
    #div1 {
        position: relative;
        top: 8px;
        right: 2px;
    }
}